// The name of the overlay comes first
//Example
FirstPerson/lens
{
  zorder 200
	container Panel(lens)
	{
		metrics_mode pixels
		horz_align center
		width 70
		height 70
		vert_align center
		top -35
		left -35

		material     viseur1
		
	}
}

FirstPerson/life
{
  zorder 200
	container Panel(life)
	{
		//material     life
		//width 0.1
		//height 0.1
		//horz_align left
		//vert_align top
		//left 0.85
		//top 0.04
		metrics_mode pixels
		material     life
		width 100
		height 100
		horz_align right
		vert_align top
		left -120
		top 10
	}
	container Panel(lifeMaxBorder)
	{
		metrics_mode pixels
		material     lifeBorder
		width 100
		height 100
		horz_align right
		vert_align top
		left -120
		top 10
	}

}

FirstPerson/blood
{
  zorder 100
	container Panel(blood)
	{
		material     blood
		
	}
}

FirstPerson/score
{
	zorder 300	
   	
		container TextArea(killLabel)
		{	
			horz_align right
			vert_align top
			left         -300
		  top          10
		  metrics_mode pixels
		  font_name    StarWars
		  char_height  20
		  space_width  6
		  colour 0 0 0
			alignment left
			caption Kills    :
		}
		container TextArea(killValue)
		{	
			horz_align right
			vert_align top
			left         -210
		  top          6
		  metrics_mode pixels
		  font_name    StarWars
		  char_height  30
		  space_width  7
			alignment left
			colour 1 0 0
			caption 0
		}
		container TextArea(deathLabel)
		{	
			horz_align right
			vert_align top
			left         -300
		  top          35
		  metrics_mode pixels
		  font_name    StarWars
		  char_height  20
		  space_width  7
		  colour 0 0 0
			alignment left
			caption Death :
		}
		container TextArea(deathValue)
		{	
			horz_align right
			vert_align top
			left         -210
		  top          31
		  metrics_mode pixels
		  font_name    StarWars
		  char_height  30
		  space_width  7
			alignment left
			colour 1 0 0
			caption 0
		}
}

FirstPerson/time
{
  zorder 200
	container TextArea(RemainingTime)
	{
		metrics_mode pixels
		horz_align center
		font_name    StarWars
		char_height  30
		space_width  7
		vert_align top
		top 15
		left -40
		caption 20:00
		colour 0 0 0
		
	}
}

FirstPerson/flag
{
  zorder 200
	container Panel(flagIcone)
	{
		metrics_mode pixels
		material     flagIcone
		width 50
		height 50
		horz_align center
		vert_align top
		left -50
		top 5
	}
}

