// The name of the overlay comes first
//Example
FirstPerson/lens
{
  zorder 200
	container Panel(lens)
	{
		metrics_mode pixels
		horz_align center
		width 70
		height 70
		vert_align center
		top -35
		left -35

		material     viseur1
		
	}
}

FirstPerson/life
{
  zorder 200
	container Panel(life)
	{
		//material     life
		//width 0.1
		//height 0.1
		//horz_align left
		//vert_align top
		//left 0.85
		//top 0.04
		metrics_mode pixels
		material     life
		width 100
		height 100
		horz_align right
		vert_align top
		left -110
		top 10
	}

}

FirstPerson/blood
{
  zorder 100
	container Panel(blood)
	{
		material     blood
		
	}
}
