Stats/stats
{
	zorder 300	
   	
  container Panel(statsPanel)
	{
		metrics_mode pixels
		material     bluePanel
		width 700
		height 400
		horz_align center
		vert_align center
		left -350
		top -200
	
		container TextArea(playersNamesLabel)
		{	
			left         30
		  top          30
		  metrics_mode pixels
		  font_name    StarWars
		  char_height  30
		  space_width  7
		  colour 0 0 0
			alignment left
			caption Players:
		}
		
		container TextArea(playersKillsLabel)
		{	
			left         300
		  top          30
		  metrics_mode pixels
		  font_name    StarWars
		  char_height  30
		  space_width  7
		  colour 0 0 0
			alignment left
			caption Kills:
		}
		
		container TextArea(playersDeathsLabel)
		{	
			left         450
			top          30
			metrics_mode pixels
			font_name    StarWars
			char_height  30
			space_width  7
			colour 0 0 0
			alignment left
			caption Deaths:
		}
		
		container Panel(playersStats)
		{
			metrics_mode pixels
			width 650
			height 300
			horz_align center
			vert_align top
			left -325
			top 60
				
			container Panel(playerStat)
			{
				metrics_mode pixels
				width 650
				height 35
				horz_align center
				vert_align top
				left -325
				top 0
	
				container TextArea(playerName)
				{	
					left         8
					vert_align center
					top -10
					metrics_mode pixels
					font_name    StarWars
					char_height  20
					space_width  4
					colour 0 0 0
					alignment left
					caption None
				}
	
				container TextArea(playerKills)
				{	
					left         370
					vert_align center
					top -10
					metrics_mode pixels
					font_name    StarWars
					char_height  20
					space_width  4
					colour 0 0 0
					alignment right
					caption None
				}

				container TextArea(playerDeaths)
				{	
					left         565
					vert_align center
					top -10
					metrics_mode pixels
					font_name    StarWars
					char_height  20
					space_width  4
					colour 0 0 0
					alignment right
					caption None
				}
			}
		}
		
	}
}

